---
const skills = [
  {
    name: "React",
    color: "bg-blue-500",
    textColor: "text-white",
    icon: "ri-reactjs-fill",
  },
  {
    name: "Next.js",
    color: "bg-gray-900",
    textColor: "text-white",
    icon: "ri-code-s-slash-line",
  },
  {
    name: "Astro",
    color: "bg-purple-600",
    textColor: "text-white",
    icon: "ri-rocket-fill",
  },
  {
    name: "JavaScript",
    color: "bg-yellow-400",
    textColor: "text-gray-900",
    icon: "ri-javascript-fill",
  },

  {
    name: "WordPress",
    color: "bg-blue-600",
    textColor: "text-white",
    icon: "ri-wordpress-fill",
  },
  {
    name: "Git",
    color: "bg-orange-600",
    textColor: "text-white",
    icon: "ri-git-branch-fill",
  },
  {
    name: "Python",
    color: "bg-blue-700",
    textColor: "text-white",
    icon: "ri-terminal-box-fill",
  },
  {
    name: "Django",
    color: "bg-green-700",
    textColor: "text-white",
    icon: "ri-server-fill",
  },
  {
    name: "Django REST",
    color: "bg-red-700",
    textColor: "text-white",
    icon: "ri-database-2-fill",
  },
  {
    name: "Tailwind CSS",
    color: "bg-sky-500",
    textColor: "text-white",
    icon: "ri-palette-fill",
  },
];
---

<div class="container mx-auto py-4 px-4">
  <div class="text-center mb-10">
    <h2 class="text-3xl font-bold text-primary mb-2">Mis Habilidades</h2>
    <p class="text-secondary">Tecnologías con las que he trabajado</p>
  </div>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-3 max-w-2xl mx-auto"
  >
    {
      skills.map((skill) => (
        <div class="group transition-all duration-300 hover:-translate-y-2 hover:shadow-xl">
          <div
            class={`${skill.color} p-1 md:p-1 rounded-lg shadow-lg flex flex-row items-center justify-center gap-1 md:gap-2 h-full border border-gray-700/30 backdrop-blur-sm`}
          >
            <i
              class={`${skill.icon} ${skill.textColor} text-base md:text-base`}
            />
            <span
              class={`${skill.textColor} font-medium text-center text-sm md:text-sm`}
            >
              {skill.name}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</div>

<!-- Añadir iconos de Remix Icon -->
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
